<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú del Paciente</title>

    <link rel="stylesheet" href="/static/css/sanacion.css">
    <link rel="stylesheet" href="/static/css/paciente.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>

<div class="menu-wrapper">
    <div class="menu-card">

        <div class="empresa-name">
            {{ empresa }}
        </div>

        <div class="usuario-info">
            {{ NombrePaciente }}
        </div>

        <div class="saldo-box">
            <div class="saldo-label">Saldo Disponible</div>
            <div class="saldo-valor">${{ "%.2f"|format(saldo) }}</div>
        </div>
            <button class="menu-btn" onclick="window.location.href='/paciente/menu_citas'">
                📅 Agendar una cita
            </button>

            <button class="menu-btn" onclick="window.location.href='/paciente/mis_citas'">
                📘 Ver mis citas agendadas
            </button>

            <button class="menu-btn" onclick="window.location.href='/paciente/mis_anuncios'">
                📢 Mis anuncios
            </button>
        </div>

        <button class="menu-btn logout-btn" onclick="window.location.href='/logout/paciente'">
            🔒 Cerrar Sesión
        </button>

    </div>
</div>

</body>
</html>
