<!DOCTYPE html> 
<html>
<head>
<style type="text/css">
* ~{font-family:Tahoma, sans-serif;}
b ~{color:#054584;}
</style>
</head>
<body>
<font face="tahoma">
    <table border="0" style="width:550px;">
    <tr>
    <td colspan="2" align="center" bgcolor="#054584" style="border-top: 3px solid #FCC149; border-bottom: 3px solid #FCC149">
    <div style="margin-top: 10px;margin-bottom: 10px;"><label style="font-size: 16px;">UNIVERSIDAD AUTÓNOMA DE NUEVO LEÓN</label></div>
    </td>
    </tr>
    <tr>
    <td colspan="2" align="center" bgcolor="#E8E8E8">Tiene una solicitud pendiente por autorizar de Quinquenio</td>
    </tr>
    <tr>
    <td>Empleados</td>
        <td>
        </td>
    </tr>
    <tr>
    <td rowspan="2" style="border-top: 3px solid #FCC149;" bgcolor="#E8E8E8"><div style="text-align: center;"><label>SIASE<label></div></td>
    <td style="border-top: 3px solid #FCC149;">
    A continuación se muestra la liga para la autorización: https://www.uanl.mx/enlinea/
    </td>
    </tr>
    <tr>
    <td>
    Una vez autorizado se procederá a la recolección de firmas de la solicitud impresa por parte de Recursos Humanos de su dependencia.
    </td>
    </tr>
    </table>
</font>                    
</body>
</html>